@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* @import "./fonts.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blanka";
  src: url("/fonts/Blanka-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agile";
  src: url("/fonts/agile.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AmsterdamOne";
  src: url("/fonts/Amsterdam-One.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RollerScript";
  src: url("/fonts/Rollerscript-Rough.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-agile {
  font-family: "Agile", sans-serif;
}
.font-blanka {
  font-family: "Blanka", sans-serif;
}
.font-amsterdam {
  font-family: "AmsterdamOne", sans-serif;
}
.font-roller {
  font-family: "RollerScript", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", cursive;
}

:root {
  font-family: "Inter", sans-serif;
}

.shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  padding: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2739;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d2739;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
